name: Build PilotLight

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build Release x64
        run: |
          msbuild PilotLight.slnx ^
            /p:Configuration=Release ^
            /p:Platform=x64

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: PilotLight
          path: |
            **\x64\Release\PilotLight.exe
